body{
    margin: 0;
    padding: 0;
    font-family: Open-Sans;
}
*{
    box-sizing: border-box;
    max-width: 100%;
}
img{
    width: auto;
}
#block1{
    width: 1440px;
    height: 1024px;
    border: 3px solid red;
    display: grid;
    grid-template-rows: 57px 869px 98px ;
    background-image: url(/justin-luebke-NkcfYDIG66Y-unsplash\ 1.png);
    background-size: cover;
}
#socials {
    display: flex;
    position: absolute;
    width: 134px;
    height: 28.58px;
    left: 175px;
    top: 18px;
}

#socials p {
    color: #FFFFFF;
}

#call-num{
    margin-right: 61px;
    color: #FFFFFF;
}

#items1{
    display: flex;
}

#items2{
    display: flex;
    justify-content: space-around;
}

#items2 a{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-decoration: none;
color: #FFFFFF;
}
#donate{
    width: 144px;
    height: 48px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
}


