body{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
margin: 0;
padding: 0;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
#first-can{
    background-image: url(/justin-luebke-NkcfYDIG66Y-unsplash\ 1.png);
    background-size: cover;
    width: 1440px;
    height: 1024px;
}
#nav-bar{
    height: 57px;
    width: auto;
    border-bottom:0.5px solid #FFFFFF;
}
#follow-text{
    position: absolute;
    width: 95px;
    height: 18px;
    left: 69px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
#social-icons{
    display: flex;
    position: absolute;
    width: 134px;
    height: 28.58px;
    left: 175px;
    top: 17px;
}
#social-icons img{
    margin-right: 20px;
    width: 24px;
    height: 24px;
}
#call-us{
position: absolute;
left: 1168px;
top: 7px;
font-weight: 400;
font-size: 17px;
line-height: 23px;
color: #FFFFFF;
}
#donate{
    display: flex;
    position: absolute;
    width: 144px;
    height: 48px;
    left: 70px;
    top: 79px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
#donate img{
    width: 28px;
    height: 28px;
}
#donate p{
width: 82px;
height: 18px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
}
#second-can a{
text-decoration: none;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
}
#living{
position: absolute;
width: 182px;
height: 18px;
left: 613px;
top: 300px;
font-style: italic;
font-weight: 400;
font-size: 30px;
line-height: 41px;
color: #FFFFFF;
}
#join{
position: absolute;
width: 769px;
height: 69px;
left: 319px;
top: 310px;
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 98px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#visit{
position: absolute;
width: 974px;
height: 74px;
left: 233px;
top: 465px;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
text-align: center;
color: #FFFFFF;
}
#see-can{
    position: absolute;
    width: 132px;
    height: 54px;
    left: 654px;
    top: 630px;
    background: #FFFFFF;
    border-radius: 10px;
    }
#see-more{
    width: 102px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
#third-can{
position: absolute;
width: 1440px;
height: 99px;
left: 0px;
top: 926px;
background: #E2E2E2;
z-index: 2;
box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
}
#our-next{
margin: 10px 0 0 73px;
width: 511px;
height: 23px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;
color: #000000;
}
#time{
position: absolute;
width: 82px;
height: 23px;
left: 669px;
top: 925px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000;
}
#nine{
position: absolute;
width: 61px;
height: 54px;
left: 766px;
top: 949px;
padding: 10px;
background: #000000;
border-radius: 5px;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-align: center;
}
#dot{
position: absolute;
width: 5px;
height: 29px;
left: 834px;
top: 962px;
font-family: 'Digital Numbers';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-align: center;
color: #000000;
}
#zero {
position: absolute;
width: 61px;
height: 54px;
left: 847px;
top: 949px;
padding: 10px;
background: #000000;
border-radius: 5px;
border-radius: 5px;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-align: center;
}
#am{
position: absolute;
width: 50px;
height: 29px;
left: 916px;
top: 959px;
font-family: 'Digital Numbers';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-align: center;
color: #000000;
}
#date{
position: absolute;
width: 82px;
height: 23px;
left: 1053px;
top: 925px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000;
}
#twenty{
position: absolute;
width: 61px;
height: 54px;
left: 1147px;
top: 949px;
padding: 10px;
background: #000000;
border-radius: 5px;
}
#slash1{
position: absolute;
width: 6px;
height: 35px;
left: 1215px;
top: 959px;
font-family: 'Digital Numbers';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-align: center;
color: #000000;
}
#ten{
position: absolute;
width: 61px;
height: 54px;
left: 1228px;
top: 949px;
padding: 10px;
background: #000000;
border-radius: 5px;
}
#slash2{
position: absolute;
width: 6px;
height: 35px;
left: 1295px;
top: 959px;
font-family: 'Digital Numbers';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
text-align: center;
color: #000000;
}
#twenty-one{
position: absolute;
width: 61px;
height: 54px;
left: 1309px;
top: 949px;
padding: 10px;
background: #000000;
border-radius: 5px;
}
#subtract{
position: absolute;
width: 1450px;
height: 922px;
left: -9px;
top: 422px;
background: rgba(11, 2, 70, 0.06);
z-index: -2;
}
#photo1{
position: absolute;
width: 408px;
height: 237px;
left: 70px;
top: 1106px;
border-radius: 20px;
}
#photo2{
    position: absolute;
    width: 408px;
    height: 237px;
    left: 517px;
    top: 1107px;
    border-radius: 20px;
}
#photo3{
    position: absolute;
    width: 408px;
    height: 237px;
    left: 964px;
    top: 1106px;
    border-radius: 20px;
}
#photo4{
position: absolute;
width: 300px;
height: 455px;
left: 203px;
top: 1495px;
}
#you-re{
position: absolute;
width: 352px;
height: 44px;
left: 707px;
top: 1457px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 54px;
color: #000000;
}
#live1{
position: absolute;
width: 265px;
height: 37px;
left: 142px;
top: 1165px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #FFFFFF;
}
#church1{
position: absolute;
width: 265px;
height: 93px;
left: 589px;
top: 1140px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #FFFFFF;
}
#special1{
position: absolute;
width: 265px;
height: 41px;
left: 1036px;
top: 1165px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #FFFFFF;
}
#text2{
position: absolute;
width: 614px;
height: 467px;
left: 707px;
top: 1547px;
}
.hello{
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000;
}
#subtract2{
position: absolute;
width: 1450px;
height: 922px;
left: -9px;
top: 1822px;
background: rgba(11, 2, 70, 0.06);
z-index: -2;
}
#worship-today{
position: absolute;
width: 476px;
height: 23px;
left: 482px;
top: 2141px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #000000;
}
#choose-branch{
position: absolute;
width: 292px;
height: 26px;
left: 573px;
top: 2220px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #0B0146;
}
#lagos{
position: absolute;
width: 397px;
height: 277px;
left: 70px;
top: 2288px;
background: #FFFFFF;
box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#abuja{
position: absolute;
width: 397px;
height: 277px;
left: 523px;
top: 2288px;
background: #FFFFFF;
box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#ph{
position: absolute;
width: 397px;
height: 277px;
left: 976px;
top: 2288px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#lagos-text{
position: absolute;
width: 100px;
height: 23px;
left: 150px;
bottom: 205px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
color: #FFFFFF;
}
#abuja-text{
position: absolute;
width: 100px;
height: 23px;
left: 150px;  
bottom: 205px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
color: #FFFFFF;
}
#ph-text{
position: absolute;
width: 118px;
height: 23px;
left: 150px;
bottom: 205px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
color: #FFFFFF;
}
#sun-lag{
position: absolute;
width: 383px;
height: 63px;
bottom: 90px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;
}
#sun-abj{
position: absolute;
width: 383px;
height: 63px;
bottom: 90px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;
}
#sun-ph{
position: absolute;
width: 383px;
height: 63px;
bottom: 90px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;
}
#add-lag{
position: absolute;
width: 316px;
height: 68px;
left: 40px;
top: 150px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;
}
#add-ph{
position: absolute;
width: 316px;
height: 68px;
left: 40px;
top: 155px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
text-align: center; 
color: #000000;
}
#add-abj{
position: absolute;
width: 316px;
height: 68px;
left: 40px;
top: 155px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #000000;
}
#children{
position: absolute;
width: 705px;
height: 697px;
left: -5px;
top: 2715px;
background: url(annie-spratt-cVEOh_JJmEE-unsplash.jpg);
border-radius: 20px;
}
#text2-can{
position: absolute;
width: 849px;
height: 697px;
left: 591px;
top: 2715px;
background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
z-index: -1;
}
#join-today{
position: absolute;
width: 313px;
height: 23px;
top: 190px;
right: 331px;
font-family: 'Open Sans';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #0B0146;
}
#make-donation{
position: absolute;
width: auto;
height: 23px;
top: 224px;
right: 266px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;
text-transform: uppercase;
color: #000000;
}
#dolor{
position: absolute;
width: 544px;
height: 135px;
right: 95px;
top: 306px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000;
}
#donate-btn{
position: absolute;
width: 139px;
height: 54px;
left: 210px;
top: 468px;
background: #000000;
border-radius: 10px;
}
#heart2{

}
#donate-word{
position: absolute;
width: 61px;
height: 19px;
right: 20px;
top: 1px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}
#read-more{
position: absolute;
width: 139px;
height: 54px;
left: 390px;
top: 469px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
}
#read-word{
position: absolute;
width: 89px;
height: 19px;
right: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
}
#join-family{
    position: absolute;
    width: 535px;
    height: 23px;
    left: 452px;
    top: 3500px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    
    color: #000000;
}
#photo-gab{
    position: absolute;
    width: 400px;
    height: 217.72px;
    left: 72px;
    top: 3689px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}
#photo-six{
    position: absolute;
    width: 400px;
    height: 215px;
    left: 542px;
    top: 4049px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}
#fellowship-branch{
    position: absolute;
    width: 411px;
    height: 83px;
    left: 542px;
    top: 3708px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
}
#learn-more{
    position: absolute;
    width: 205px;
    height: 56px;
    left: 542px;
    top: 3836px;
    border: 1px solid #0B0146;
    box-sizing: border-box;
    border-radius: 27px;
}
#join-bible{
    position: absolute;
    width: 386px;
    height: 83px;
    left: 987px;
    top: 4064px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
    
}
#learn-more2{
    position: absolute;
    width: 205px;
    height: 56px;
    left: 987px;
    top: 4196px;
    border: 1px solid #0B0146;
    box-sizing: border-box;
    border-radius: 27px;
}
#third-can{
position: absolute;
width: 1440px;
height: 715px;
left: 0px;
top: 4413px;
background: #CCD9DC;
}
#where-us{
    position: absolute;
    width: 163px;
    height: 23px;
    left: 74px;
    top: 63px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #0B0146;
}
#your-location{
position: absolute;
width: auto;
height: 23px;
left: 74px;
top: 99px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 54px;
text-transform: uppercase;
color: #000000;
}
#map1{
position: absolute;
width: 627px;
height: 441px;
left: 72px;
top: 220px;
}
#photo-akira{
position: absolute;
width: 567px;
height: 335px;
left: 803px;
top: -30px;
}
#headquarters{
position: absolute;
width: 458px;
height: 23px;
right: 179px;
top: 336px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
text-transform: uppercase;
color: #000000;
}
#dolor2{
position: absolute;
width: 544px;
height: 47px;
left: 803px;
top: 423px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000;
}
#get-direction{
position: absolute;
width: 184px;
height: 55px;
left: 81px;
bottom: 41px;
background: #FFFFFF;
border-radius: 20px;
}
#contact1{
    position: absolute;
    width: 178px;
    height: 18px;
    left: 839px;
    top: 505px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
#address2{
    position: absolute;
    width: 490px;
    height: 47px;
    left: 839px;
    top: 560px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
#email1{
    position: absolute;
    width: 166px;
    height: 27px;
    left: 839px;
    top: 630px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}
#phone-logo{
position: absolute;
right: 618px;
top: 505px;
background: #000000;
}
#location-logo{
    position: absolute;
    width: 12px;
    height: 22px;
    right: 621px;
    top: 561px;
    background: linear-gradient(180deg, #0B0146 0%, #0B4034 100%);
    border: 1px solid #0B0146;
    box-sizing: border-box;
}
#email-logo{
    position: absolute;
    right: 616.04px;
    top: 630.44px;
    background: #000000;
}

